:root {
  --primary: #a04747;
  --bg: #3f3838;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #3c3d37;
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--primary);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo img {
  height: 30px;
  max-height: 100%;
  width: auto;
  object-fit: contain;
  max-width: 100px;
  margin-right: 12px;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
  font-weight: bold;
}

.navbar .navbar-nav a:hover {
  color: #3f3838;
  font-weight: bold;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #3f3838;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #3f3838;
}

#toggle-menu {
  display: none;
}

/* Navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}
/* navbar end */

/* Header star */
.header-produk .container {
  text-align: center;
  background-color: #f5f7f8;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 98%, rgba(0, 0, 0, 0));
}

.header-produk .container h1 {
  text-transform: uppercase;
  padding: 10rem 7% 1.4rem;
  font-size: 50px;
  color: var(--primary);
}

.header-produk .container .sub-header h2 {
  text-transform: uppercase;
  font-size: 25px;
  color: var(--primary);
  padding-bottom: 3rem;
  margin-bottom: 2rem;
}
/* header end */

/* filter year star */
.filter-section {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px;
  border-radius: 5px;
}

.year-select {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  width: 180px; /* Lebar dropdown */
  margin-left: 6.5rem;
}

.btn {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.apply-btn {
  color: #fff;
  background-color: var(--primary);
}

.apply-btn:hover {
  background-color: #550b0b;
}

.reset-btn {
  /* display: flex; */
  align-items: center;
  font-size: 16px;
  color: white;
  background: none;
}

.reset-btn:hover {
  color: var(--primary);
}

.reset-btn::before {
  content: "↻"; /* Ikon reset */
  font-size: 18px;
  margin-right: 5px;
}
/* filter year end */

/* produk start */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}
.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.product-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.product-code {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}
.product-name {
  font-weight: bold;
  color: var(--primary);
  font-size: 18px;
  margin-bottom: 5px;
}
.product-details {
  color: #666666;
  font-size: 14px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.pagination select {
  margin-left: 5px;
  font-size: 16px;
}
.page-numbers {
  display: flex;
  gap: 8px;
}
.page-numbers button {
  padding: 8px 12px;
  background-color: #d00000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.page-numbers button.active {
  background-color: #333;
}

/* produk end */

/* next produk start */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.pagination li {
  display: inline-block;
}

.pagination a {
  text-decoration: none;
  color: #555;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
}

.pagination a:hover {
  background-color: #f0f0f0;
}

.pagination .active a {
  background-color: var(--primary);
  color: white;
  border-color: var(--primary);
}
/* next produk end*/

/* Contact Section */
.contact {
  padding: 7rem 7% 1.4rem;
}

.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.contact h2 {
  margin-bottom: 1rem;
}

.contact p {
  text-align: center;
  max-width: 60rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}
.contact .row {
  display: flex;
  margin-top: 5rem;
  background-color: var(--primary);
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: #7d0a0a;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.contact .row form .btn:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
}
/* Contact Section end*/

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: white;
  font-weight: 700;
}
/* Footer end*/

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #toggle-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  /* .map {
      margin-right: 3px;
    } */

  .contact .row form {
    padding-top: 0;
  }

  .modal-content {
    flex-wrap: wrap;
  }

  .arrows {
    top: 60%;
    right: 60%;
  }

  .header-produk .container h1 {
    font-size: 30px;
  }

  .header-produk .container .sub-header h2 {
    font-size: 15px;
  }
}

@media (max-width: 758px) {
  .filter-section {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
  }

  .year-select {
    width: 100%;
    margin-left: 0;
  }

  .btn.apply-btn {
    width: 100%;
  }
  .btn.reset-btn {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
